sudo: required
dist: trusty
group: deprecated-2017Q2

install:
  - npm install -g firebase-tools
  - npm install -g htmllint
script:
  - make clean
  - make
after_success:
  - firebase deploy --non-interactive --token $FIREBASE_TOKEN --project scalawilliam-ff4b2
cache:
  directories:
    - $HOME/.npm
env:
  secure: "B2NOeJkm/jWjimTAn4/e6f102Z440ja/qG3DeS5YKIkXGelD6bl4SjwJTA0sL274znY8VKk7dSbyUm/n20EEAI0zv7prkofN02LqyIXFhyWSchTfFHQMagFDTCHc6GrDd2lOoOPUzLSZjPAjyV7r9I1b/jD0RNreHCUpQ0o8giB9jYeUviVYWmCbfklfVCA0dxT6b3pDaFfVXhKkOBfDXcsJ1Ma5ITjXwrTNZlxTvHYbIAYGYdU4IoZG45BtBOvmkgkzS72MbN6yzlX9BrVbtdrAL+J+okXGsw6JuyPj9rtJdAJBGQ9pSfe04WB/F03UHpyRjEyBitKgkQVFZtpn2AQMl//UKruPJbHdiHM86STT1P9UgW8YfrBJSEQTHXZAdjrMWeisUiM10abu5/eIKLCJQOLb1q94VHQxL1PeJJXUEQ2YejWVb2tDYVp7aqEyUy3epB9uOT+0Z3GJGko8REX2DqTx0YSn11Pf84xdMcCms2mgxhlzx4KM1JfPmbS8LKHvo1s6a/R8nYvHHOH2dUEWmI2wY8MsgKE3CKHMlRprJ3gJI2EvPVuwev2KGM/jtKVuuyL5RhoBb8nIapUtdLCGwbKYK2petVzshHO/VvfJbU8y58vrab7/JFZ283F13DEVKMLC2bc6DIJ6k0Yic99DpaQwkunzRwIMJkqfM00="
