
	@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(opensans.woff) format('woff');
}
body {
 font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
 overflow-y:scroll;
 line-height:1.6;
  cursor:default;
}
a {
color: #3887f3;
text-decoration:none;
}
h1 { font-weight:normal; margin-bottom:0;}
h2 {
  margin-top:0;
	font-weight:normal;
}
section h2 { margin-bottom:0;
}
header {
	border-bottom:thin solid lightgrey;
  line-height:1.2;
  cursor:default;
}
#links {
	margin-top:2em;
}
#links h2 {
	display:none;
}
#links li {
display:inline-block;
font-size:0.9em;
}
#links ul {
	margin-left:auto;
	margin-right:auto;
}
#links > nav > ul > li:last {
  margin-right: 0;
}
#links > nav > ul > li a {
  display: block;
  padding:1.0em;
  border-radius: 1em;
  box-shadow: 0px 0px 2px gray;
  padding-top: 5em;
  height: 9em;
  text-decoration: none;
  color: black;
  /*border: 1px solid #e5e5e5;*/

  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -gecko-transition: all 0.2s linear;
}
#detail {
margin-top:3.6em;
font-size:small;
}
#links > nav > ul > li a h3 {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -gecko-transition: all 0.2s linear;
}
#links > nav > ul > li a:hover {

  box-shadow: 0px 0px 2px #3887f3;
}
#links > nav > ul > li a:hover h3 {
color: #3887f3;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -gecko-transition: all 0.2s linear;
}
#links > nav > ul > li {
  background-color: #f4f4f4;
  border-radius: 1em;
  background-repeat: no-repeat;
  background-position: center 1.5em;
  display: inline-block;
  text-align: center;
  margin-right: 2em;
  width: 12em;
  vertical-align: top;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -gecko-transition: all 0.2s linear;
}
#li-linkedin {
  background-image: url('/shared/linkedin.png');
}
#li-email {
  background-image: url('/shared/email.png');
}
#li-github {
  background-image: url('/shared/github.png');
}
#links a:hover {

}

    header h2 {
      padding-right:1.7em;}
#social-icons {
  position:absolute;
  top:0.5em;
  right:0em;
  width:8em;
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-flow: row wrap;

}

#linkedin {
}
#linkedin svg {
  opacity: 0.8;
}
#linkedin:hover svg {
  opacity: 1;
}
#github-icon {
margin-right:-2px;
}
#github-icon img {
max-height: 1em;
opacity: 0.8;
}
#github-icon:hover img {
  opacity: 1;
}

#twitter svg {
  width: 1.8em;
  opacity: 0.8;
}
#twitter:hover svg {
  opacity: 1;
}
#gplus {
}
#gplus img {
  width: 1.4em;
  height: 1.4em;
  opacity: 0.8;
}
#gplus:hover img {
  opacity: 1;
}
#medium {
}
#medium img {
  width: 2.2em;
  height: 2.2em;
  opacity: 0.8;
}
#medium:hover img {
  opacity: 1;
}
#yt {
}
#yt img {
  height: 1.6em;
  opacity: 0.8;
}
#yt:hover img {
  opacity: 1;
}
#main {
	margin-left:auto;
  margin-right:auto;
	width:44em;
	max-width:90%;
	position:relative;
	padding-bottom:2em;
}
.slide {
	margin-top:2em;
}
.slide p {
	/*text-align:justify;*/
}
#william .slide {
  position:relative;

}
#william { clear:both; }
.section#william .slide .img {
background-image:url('/index/images/headshot-junefourteen.jpg');
}
.section#talks .slide .img {
  background-image: url('/index/images/xmllondon-talk.jpeg');
}
.section .slide .img {

  background-size: 100%;
  width:190px;
margin-left:1.6em;
margin-bottom:1.6em;
  height:125px;
  border-radius:0.5em;
  background-repeat:no-repeat;
  /*position:absolute;
  right:0;
  top:0.7em;*/
float:right;
display:block;
  box-shadow:1px 2px 3px lightgray, -1px 0px 3px lightgray;
}
.section#william .slide .img {
height:auto;
width:180px;
height:225px;
}
.slide {
	/*text-align:justify;*/
}
.q {
	font-family:Georgia, serif;
}
#skills {
  list-style-type: square;
}

p.permalink {
	font-size:0.7em;
}

    ul {
      list-style-type: square;
    }

.testimonials {
  width:100%;
  position:relative;
}
.testimonials img:nth-child(4) {
  opacity:0;
}
.testimonials img:not(:nth-child(4)) {
    opacity:0;
  position:absolute;
  top:0;
  left:0;
    animation-timing-function: linear;
}
    .testimonials img:nth-child(1) {
      animation: xfade 30s 0s infinite;
    }
    .testimonials img:nth-child(2) {
      animation: xfade 30s 10s infinite;
    }
    .testimonials img:nth-child(3) {
      animation: xfade 30s 20s infinite;
    }
    @keyframes xfade {
        0% { opacity: 0;}
      7% {
        opacity:0;}
        10% { opacity: 1; }
        37% { opacity: 1; }
        40% { opacity: 0; }
    }

time {
    white-space: nowrap;
}

@media (max-width: 640px) {
  ul.time-table .time:before, ul.time-table time:before {
    content: " – ";
  }
}
@media (min-width: 640px) {
ul.time-table li {
  clear:both;
}

ul.time-table {
  list-style-type: none;
  margin:0;
  padding:0;
  font-size:0.9em;
}

ul.time-table .time, ul.time-table time {
  float:right
}
}