body {
    margin:0;
    padding:0;
    font-size:1em;
}
#main {
    margin:1%;
    max-width:98%;
}
h1 {
    padding:0.1em;
    padding-bottom:1em;
}
#main > header > h2 {
    display:none;
}
img {
    max-width:100%;
}
.section .slide .img {
    float:none;
}
ul {
    padding-left:2em;
}
ul li {
}
iframe {
    max-width:100%;
}
#social-icons {
    top:2.8em;
}
#talks .img {
    display:none;
}
